.container_form{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}
.sub_container_form{
    width: 49%;
    display: inline-block;
}
.input_form{
    width: 320px;
    height: 28px;
    padding-left: 6px;
}
.textarea_form{
    width: 320px;
    height: 114px;
    padding-left: 6px;
}
.container_input{
    margin-bottom: 10px
}
.msj_edit{
    color: #309912;
    margin-bottom: 17px;
}
.container_title_data{
    text-align: center;
    margin: 0 auto;
    margin-top: 13px;
}
.imagenContainer{
    height: 200px;
    border: 1px solid #c4c4c4;
    width: 215px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 23px;
}
.page-item{
    width: 45px;
    display: inline-block;
    border: 1px solid #000000;
    color: #000000;
}
.active{
    background-color: #BBBBBB;
}
.container_list_data{
    height: 60px;
    border: 1px solid #000000;
    vertical-align: middle;
}
.sub_container_list_data{
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
    line-height: initial;
    color: #000000;
}
.container_list_img{
    width: 16%;
}
.container_list_text{
    width: 66%;
}
.container_list_button{
    width: 8%;
    cursor: pointer;
}
.label_hide{
    display: none;
}
